@model GitHubInformationForm

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>GitHub features</h2>
            <form asp-antiforgery="true" asp-action="CheckRepository" asp-controller="Home" method="post" id="githubinfo_form">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label asp-for="UserName">User's name:</label>
                    <input asp-for="UserName" type="text" class="form-control" id="users_name"
                           data-val="true"
                           data-val-required="GitHub's user name field is required."
                           required />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RepositoryName">GitHub repository name:</label>
                    <input asp-for="RepositoryName" type="text" class="form-control" id="repo_name"
                           data-val="true"
                           data-val-required="GitHub's user name field is required."
                           required />
                    <span asp-validation-for="RepositoryName"></span>
                </div>
                <div class="form-group">
                    <label for="options">Choose option:</label>
                    <select class="form-control" name="RequestType" id="request_type">
                        <option value="0">Check if repository exist</option>
                        <option value="1">Get all pull requests list of repository</option>
                        <option value="2">Get all branches of repository</option>
                        <option value="3">Get ten last commits of repository</option>
                        <option value="4">Show file by it's path</option>
                    </select>
                </div>
                <div id="path_div" class="form-group" style="display:none">
                    <label for="Path">Github file path:</label>
                    <textarea class="form-control" id="path_value" data-val="true" rows="4" cols="50">branch/path</textarea>
                </div>
                <a class="btn btn-default" id="githubinfo_submit">Go</a>
            </form>
        </div>
        <div class="modal fade" id="result_window" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" id="result_window_pl">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/site.js"></script>
}